.body {
  color: #555;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 27px;
  text-rendering: optimizeLegibility;
  vertical-align: baseline;
  -webkit-font-smoothing: antialiased;
}

html {
	background: #eee url(../assets/bg-grey-stripes.png);
}

.header {
	border-bottom: 1px solid #ddd;
	margin: 0 0 40px 0;
	padding-bottom: 20px;
	width: 100%;
}

.logo-url {
	background: url('../assets/logo.png') 0 0 no-repeat;
	background-size: 100%;
	display: inline-block;
	height: 40px;
	overflow: hidden;
	text-indent: -9999px;
	width: 173px;
}

.block {
	display: block;
	padding: 30px 20px;
	position: relative;
	zoom: 1;
}

.block-white {
	background: #fff;
	border-bottom: 1px solid #dadada;
}

.block-grey:before {
	background: white;
	content: '';
	display: block;
	height: 1px;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

.content {
	margin: 0 auto;
	max-width: 640px;
	overflow: hidden;
}

.copy {
	font-size: 21px;
	text-align: center;
	width: 100%;
}

.title {
	font-size: 36px;
	font-weight: 400;
	line-height: 40px;
	margin: 0 0 20px;
}

.error-message {
	font-size: 21px;
}

.contact-details {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background: #444;
	border-radius: 10px;
	color: #fff;
	font-size: 16px;
	line-height: 21px;
	margin: 0 auto;
	overflow: hidden;
	padding: 30px 0px;
}

.contact-details__column {
	padding: 0 20px 0 72px;
	position: relative;
}

.contact-details__column:last-child {
	border-left: 1px solid #999;
}

.column {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	float: left;
	width: 50%;
}

.abbr {
	color: #ccc;
	font-size: 12px;
}

.icon {
	background-position: 0 0;
	background-size: 100%;
	background-repeat: no-repeat;
	display: inline-block;
	height: 32px;
	left: 20px;
	position: absolute;
	top: 5px;
	width: 32px;
}

.icon-phone {
	background: url('../assets/icon-phone.png');
}

.icon-time {
	background: url('../assets/icon-time.png');
}

.footer {
	color: #777;
	padding: 30px 0 0 0;
	width: 100%;
}

.small {
	font-size: 11px;
	line-height: 18px;
}

.nib-abn {
	text-align: left;
}

.nib-address {
	text-align: right;
}
/* Mobile (iPhone5 landscape) and down ----------- */
@media (max-width : 568px) {

	.body {
		padding: 0;
	}

	.block-grey {
		padding: 30px 20px 20px 20px;
	}

	.content {
		width: 100%;
	}

	.header {
		background: #228b07;
		background: -moz-linear-gradient(top, #228b07, #1f7d07);
		background: -ms-linear-gradient(top, #228b07, #1f7d07);
		background: -webkit-linear-gradient(top, #228b07, #1f7d07);
		background: linear-gradient(top, #228b07, #1f7d07);
		border-bottom: 0;
		border-radius: 5px 5px 0 0;
		left: 0;
		padding: 6px 0;
		position: absolute;
		top: 0;
	}

	.logo {
		text-align: center;
	}

	.logo-url {
		background: url('../assets/logo.svg') 0 0 no-repeat;
		height: 25px;
		width: 45px;
	}

	.copy {
		line-height: 27px;
		margin-top: 50px;
	}

	.contact-details {
		font-size: 18px;
		padding: 20px 0px;
		width: 100%;
	}

	.contact-details__column:last-child {
		border-left: none;
		margin-top: 20px;
	}

	.column {
		float: none;
		width: 100%;
	}

	.nib-abn,
	.nib-address {
		text-align: center;
	}
}